{% include 'header.html' %}
<section style="width: 1100px; display: flex; flex-flow: row wrap; justify-content: space-between;">
    <!-- {{content_data}} -->
    {% for good of content_data %}
        <div style="border: 3px solid black;">
            <p style="text-transform: uppercase;">Item name: {{ good.name }}</p>
            <p style="text-transform: uppercase;">Item price: {{ good.price }}</p>
            <a href="index.php&path=Basket/addItem/{{ good.id }}" style="color: red">Add to cart</a>
        </div>
    {% endfor; %}
</section>
{% include 'footer.html' %}