<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson4</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(function() {
            $('#showMoreBtn').click(function(e) {
                let prod = $('.catalog .product').last().atrr('id');

                $.ajax({
                    type: "POST",
                    url: "server.php",
                    data: {PROD: prod},
                    function (data) {
                        let result = JSON.parse(data);
                        $('catalog').append(result);
                    }
                });
            }
        })
    </script>
</head>
<body>
    <div style="margin: 0 auto; width: 1500px;">
        <header style="width: 100%; border: 1px solid black; background-color: yellow;">
            <section style="display: flex; justify-content: space-between;">
                <h1 style="color: black;">HEADER OF THE SITE</h1>
                <button style="background-color: red; color: white; width: 25%;">Cart</button>
            </section>
        </header>
        <main style="width: 100%; display: flex; flex-wrap: nowrap;">
            <section style="width: 20%; border: 1px solid black;">
                <ul style="list-style-type: none;">
                    <li><a href="index.php">Catalog.</a></li>
                    <li><a href="#">Control of orders(admin).</a></li>
                    <li><a href="#">Control of orders(user).</a></li>
                    <li><a href="#">Control of products(admin).</a></li>
                    <li><a href="#">Log in.</a></li>
                    <li><a href="#">Exit.</a></li>
                </ul>
            </section>
            <section class="catalog" style="width: 30%; display: flex; flex-flow: row wrap; justify-content: space-around;">
                {% for product in products %}
                    <div class="product" id="{{ product.id }}" style="display: flex; flex-flow: column nowrap; margin-bottom: 20px; border: 1px solid black;">
                        <img src="images/{{ product.photo }}" alt="{{ product.photo }}" style="width: 150px; height: 150px;">
                        <p>{{ product.product_name }}.</p>
                        <p>Cost of the product: {{ product.product_cost }} rubles.</p>
                        <p>In stock: {{ product.product_count }}</p>
                        <a href="#"><button style="background-color: red; color: white;">Add to cart(Not available now)</button></a>
                    </div>
                {% endfor %}
                <button id="showMoreBtn" data-prod="25" style="margin: 0 auto; width: 30%; height: 50px; background-color: red; color: white;">Show more.</button>
            </section>
            <section style="width: 50%; border: 1px solid black;">
                <aside>
                    <ul style="list-style-type: none;">
                        <li>Advertisement</li>
                        <li>Advertisement</li>
                        <li>Advertisement</li>
                        <li>Advertisement</li>
                        <li>Advertisement</li>
                        <li>Advertisement</li>
                    </ul>
                </aside>
            </section>
        </main>
        <footer style="width: 100%; background-color: grey; border: 1px solid black;">
            <section>
                <h1 style="color: white;">FOOTER OF THE SITE</h1>
            </section>
        </footer>
    </div>
</body>
</html>